
.App-header {
  position: fixed;
  background-color: #3f3f3f;
  height: 160px;
  padding: 20px 0px 20px;
  color: white;
  display: flex;
  display: -webkit-flex;
  width: 100%;
  left: 0;
  top: 0;
}
.Banner-container {
  -webkit-flex: 1;
  flex: 1;
  padding-right: 20px;
  padding-left: 20px;
}
.Banner-logo {
  height: 120px;
  border-radius: 50%;
  -webkit-flex: 1;
  flex: 1;
}
.Nav-container {
  -webkit-flex: 1;
  flex: 1;
  margin-top: 20px;
  margin-left: 10px;
  padding-right: 20px;
}
.Logout-container {
  width:max-content;
  -webkit-flex: 1;
  flex: 1;
}
.Button {
  line-height: 50px;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: #4b6f99;
  color: white;
  cursor: pointer;
  width: 120px;
  height: 60px;
  border-radius: 8px;
  padding: 15px;
  margin-right: 30px;
}
.Button:hover {
  background-color: #20a087;
}
nav {
  float: left;
  margin: 90px auto 0;
  position: relative;
  width: 540px;
  height: 50px;
  background-color: #4b6f99;
  border-radius: 8px;
  font-size: 0;
}
nav a {
  line-height: 50px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
}
nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all .5s ease 0s;
  border-radius: 8px;
}
nav a:nth-child(1) {
  width: 100px;
}
a:nth-child(2) {
  width: 100px;
}
a:nth-child(3) {
  width: 100px;
}
a:nth-child(4) {
  width: 130px;
}
a:nth-child(5) {
  width: 110px;
}
nav .start-home, a:nth-child(1):hover~.animation {
  width: 100px;
  left: 0;
  background-color: #20a087;
}
nav .start-apps, a:nth-child(2):hover~.animation {
  width: 100px;
  left: 100px;
  background-color: #be9610;
}
nav .start-tags, a:nth-child(3):hover~.animation {
  width: 100px;
  left: 200px;
  background-color: #3498db;
}
nav .start-analytics, a:nth-child(4):hover~.animation {
  width: 130px;
  left: 300px;
  background-color: #9b59b6;
}
nav .start-users, a:nth-child(5):hover~.animation {
  width: 110px;
  left: 430px;
  background-color: #e67e22;
}
.Content {
  margin-top: 12%;
  display: block;
  gap: 20px;
  padding: 20px;
  width: 100%;
}
.Grid-container {
  margin-right: 2%;
  margin-left: 2%;
  width: 96%;
  display: grid;
  grid-template-columns: repeat(4, 23%);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.Device-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  max-width: 420px;
  border-radius: 8px;
}
.Device-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-logo-container {
  border-radius: 8px 8px 0 0;
  max-width: 100%;
  background-color: rgb(223, 236, 244);
}
.card-logo {
  border-radius: 8px 8px 0 0;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 0.4em;
  padding-top: 0.4em;
  padding-right: 0.4em;
  padding-left: 0.4em;
  padding-bottom: 0.4em;
  background-color:  rgb(223, 236, 244);
}
.Device-info {
  padding: 0.4em;
  font-size: large;
  text-align: center;
}
.device-card-item {
  padding: 0.2em;
}
table {
  width: 100%;
}
td {
  padding: 0.2em;
}
tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}
i {
  font-size: 2.5em;
}
#device-card-name {
  text-align: center;
}

@media (max-width: 810px) {
  .Content {
    margin-top: 28%;
    display: block;
    gap: 10px;
    padding: 20px;
    width: 100%;
  }
  .Grid-container {
    margin-right: 2%;
    margin-left: 2%;
    width: 96%;
    display: grid;
    grid-template-columns: repeat(2, 46%);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}