
.App-header {
  background-color: #3f3f3f;
  height: 160px;
  padding: 20px;
  color: white;
  display: flex;
  display: -webkit-flex;
  padding-left: 8px;
  padding-right: 8px;
}
.Banner-container {
  -webkit-flex: 1;
  flex: 1;
}
.Banner-logo {
  height: 120px;
  border-radius: 50%;
  -webkit-flex: 1;
  flex: 1;
}
.Nav-container {
  -webkit-flex: 1;
  flex: 1;
  margin-left: 10px;
}
.Logout-container {
  width:max-content;
  -webkit-flex: 1;
  flex: 1;
}
.Button {
  line-height: 50px;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: #34495e;
  color: white;
  cursor: pointer;
  width: 120px;
  height: 60px;
  border-radius: 8px;
  padding: 15px;
  margin-right: 10px;
}
.Button:hover {
  background-color: #1abc9c;
}
nav {
  float: left;
  margin: 100px auto 0;
  position: relative;
  width: 590px;
  height: 50px;
  background-color: #34495e;
  border-radius: 8px;
  font-size: 0;
}
nav a {
  line-height: 50px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
}
nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all .5s ease 0s;
  border-radius: 8px;
}
nav a:nth-child(1) {
  width: 100px;
}
a:nth-child(2) {
  width: 100px;
}
a:nth-child(3) {
  width: 100px;
}
a:nth-child(4) {
  width: 160px;
}
a:nth-child(5) {
  width: 110px;
}
nav .start-home, a:nth-child(1):hover~.animation {
  width: 100px;
  left: 0;
  background-color: #1abc9c;
}
nav .start-apps, a:nth-child(2):hover~.animation {
  width: 100px;
  left: 100px;
  background-color: #e74c3c;
}
nav .start-tags, a:nth-child(3):hover~.animation {
  width: 100px;
  left: 210px;
  background-color: #3498db;
}
nav .start-analytics, a:nth-child(4):hover~.animation {
  width: 160px;
  left: 310px;
  background-color: #9b59b6;
}
nav .start-users, a:nth-child(5):hover~.animation {
  width: 110px;
  left: 470px;
  background-color: #e67e22;
}
